// stylelint-disable color-no-hex

// This extra import allows any variables that are created via functions to work when loaded into JS
@import '../../global_styling/functions/index';

// These colors stay the same no matter the theme
$euiColorGhost: #FFF !default;
$euiColorInk: #000 !default;

// Core
$euiColorPrimary: #599dff !default;
$euiColorAccent: #f588b3 !default;

// Status
$euiColorSuccess: #7ed8a9 !default;
$euiColorWarning: #fac039 !default;
$euiColorDanger: #f66d64 !default;

// Grays
$euiColorEmptyShade: #1c1f24 !default;
$euiColorLightestShade: #292e34 !default;
$euiColorLightShade: #373d45 !default;
$euiColorMediumShade: #555c67 !default;
$euiColorDarkShade: #989faa !default;
$euiColorDarkestShade: #d0d4da !default;
$euiColorFullShade: #FFF !default;

// Backgrounds
$euiPageBackgroundColor: #0e0f12 !default;
$euiColorHighlight: #382400 !default;

// Variations from core
$euiTextColor: #e3e6eb !default;
$euiTitleColor: $euiTextColor !default;
$euiTextSubduedColor: #868e9a !default;
$euiColorDisabled: #23262c !default;

// Contrasty text variants
$euiColorPrimaryText: #599dff !default;
$euiColorSuccessText: #7ed8a9 !default;
$euiColorAccentText: #f588b3 !default;
$euiColorWarningText: #eb9C00 !default;
$euiColorDangerText: #f66d64 !default;
$euiColorDisabledText: #868e9a !default;
$euiLinkColor: $euiColorPrimaryText !default;

// Charts
$euiColorChartLines: $euiColorLightShade !default;
$euiColorChartBand: tint($euiColorLightestShade, 2.5%) !default;
